.form__container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.form__input {
  margin-right: 35px;
  width: 60%;
}

.form__button {
  width: calc(100% - 63% - 35px);
}

.box {
  width: 100%;
  height: 60px;
}

.box__link {
  color: #979797;
  display: flex;
  margin-left: calc(100% - 63% - 35px);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.box__link:hover {
  text-decoration: none;
}

.box__error {
  color: rgba(255, 0, 0, 0.821);
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .box__link {
    color: #979797;

    margin-left: 0;
    text-align: center;
  }

  .form__input {
    margin-right: 15px;
    width: 50%;
  }

  .form__button {
    width: calc(100% - 53% - 35px);
  }
}
