body {
  padding-left: 115px;
  padding-right: 115px;
  height: 100vh;
}

button {
  background-color: #f3e050;
  border-radius: 10px;
  height: 60px;
  border: none;
  font-size: 20px;
  font-weight: 700;
}

input {
  outline: none;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #b7b7b7;
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}
