.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: 100%;
}

.header {
  font-size: 49px;
  margin-bottom: 90px;
}

.horizontal {
  margin-right: 30%;
}

.header--bold {
  font-weight: 800;
}

.header--light {
  font-weight: 200;
}

.form__container {
  width: 60%;
}
