.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: 100%;
}

.header {
  font-size: 49px;
  margin-bottom: 90px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.horizontal {
  margin-right: 30%;
}

.header--bold {
  font-weight: 800;
}

.header--light {
  font-weight: 200;
}

.form__container {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .navbar__container {
    display: block;
  }
  .header {
    text-align: center;
    font-size: 49px;
    margin-bottom: 20px;
  }

  .form__container {
    width: 100%;
  }
}
